/* Created by: Julianne Leblanc-Peltier
* Created on: Feb 2024
* This file contains the CSS for index.html
*/

.header-left {
  text-align: left;
  padding-top: 15px;
  padding-left: 10px;
}

.header-right {
  text-align: right;
  padding-top: 15px;
  padding-right: 10px;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h3 {
  background-color: rgb(254 233 255);
  color: rgb(75 32 104);
  text-align: center;
}

.infobox-table {
  float: right;
  text-align: center;
  border-style: solid;
  border-color: rgb(164 49 179);
  border-spacing: 2px;
}

.table-category {
  text-align: left;
  text-indent: 2px;
  font-weight: bold;
  width: 40%;
}

.quote {
  border-color: rgb(255 243 255);
  background-color: rgb(255 243 255);
  text-align: center;
  color: rgb(164 49 179);
  font-style: italic;
  font-size: small;
}
